*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(44, 44, 44);
  color: white;
}

.containerBox{
  margin: 1rem 0;
  padding: 1rem;
  display: flex !important;
  justify-content: center !important;
}


